{% extends "layout.html" %}


{% block body %}
{% include "footer.html" %}

<style>
    #test{
        color: white;
        border-bottom: 1px solid white;
        display: inline;
        justify-content: center;

        border-spacing: 10rem;
    }

    .box{
        height: auto;
        background-color: black;
        opacity: 0.8;
        border: 2px aqua solid;
        text-align: center;
        color: white;
        
    }

    #foto{
        float: left;
        margin-top: 0%;
        padding:0 10px 10px 0;
        width: 250px;
        height: 300px;
    }

    #foto2{
        float: right;
        width: 250px;
        height: 300px;
        padding:0 10px 10px 0;
    }

    @media (max-width:600px){
        #foto{
            width: 220px;
            display: flex;
            float: bottom;
        }

        #foto2{
            display: inline;
            width: 200px;
            height: 250px;
            padding:0 10px 10px 0;
        }

    }
 
</style>

<div class="box">

<h2 id="test">Çağan Kılınç Kimdir?</h2>
<br><br>

<img src="{{user_image }}" alt="" id="foto">
<img src="{{user_image2 }}" alt="" id="foto2">

<p>Merhaba, ben Çağan Kılınç. 11 Ocak 2005 tarihinde doğdum. Lise 3 Bahçeșehir Koleji 50. Yıl Kampüsü'nde Öğrenciyim. Yazılım, Siber Güvenlik
    ve Web Geliştirme ile ilgileniyorum. Yazılımı ve Siber Güvenliği tek başıma öğrendim.
     Web Geliştirmeyi ise <a href="https://neosyazilim.com/egitimler/?gclid=CjwKCAjwzaSLBhBJEiwAJSRokgNxJd-hHHdxbgkEAC_HhsjNBx3u3dvAZkHRXBMpB49AVlFo8Q8ixRoCUvwQAvD_BwE">Neos Yazılım Akademisi</a> tarafından 6 aylık bir eğitimle (hala sürüyor) kısa bir sürede öğrendim. 
    Model United Nations, The World Scholar's Cup ve YetGen'de katılımcı/öğrenci olarak yer aldım. Yazılıma başlarken hedefim Dünyada bir 
    farkındalık yaratabilmekti. Hala da pes etmeden elimden gelenin en iyisiyle kendimi geliştiriyorum. Bu siteyi kurmamın amacı Dünyadan önce,
    yazılarımla en azından birkaç kişinin hayatına dokunmak. Çünkü ben bir kişinin bile çok şey değiştirebileceğine inanıyorum. Boş zamanlarım 
    oldukça proje geliştirme ve web tasarımla uğraşıp kodlarımı <a href="https://github.com/zTheDeer">Github sayfamda</a> paylaşıyorum. İncelemek
    isterseniz yazının üstüne tıklamanız yeterli. Dünyanın kurtarıcılara ihtiyacı var. <br> "Şayet bir gün çaresiz kalırsanız, bir kurtarıcı beklemeyin.
     Kurtarıcı kendiniz olun" <strong>Mustafa K. Atatürk</strong><br> Ondan ne gördüysem onu yaptım fazlasını değil...  </p><br><br>
     <p style="font-style: italic; opacity: 0.3;">Telif Hakkı © 2021 Çağan Kılınç</p>

</div>


{% endblock %}