<style>
    .box{
        background-color: black;
        opacity: 0.8;
        border: 2px aqua solid;
        text-align: center;
        color: white;
        height: auto;
    }


    audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
margin-top: 1%;
padding: 0.2%;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 4px 4px 6px 0px black;
-webkit-box-shadow:  4px 4px 6px 0px black;
box-shadow: 2px 2px 4px 0px black;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:10px 10px 10px 10px ;
}
</style>

{% extends "layout.html" %}




    {% block body %}
    {% include "footer2.html" %}
    <div class="box">    
        
        <h3>Siteme Hoş Geldiniz <strong>{{session["username"]}}!</strong></h3>
        <p>"Bu site okul sistemine karşı çıkıp lisede yazılıma başlayan ve 2-3 ayda bu seviyelere giren birinin eseridir. Eğer ki bir hevesiniz varsa
            niç beklemeden başlayın. Başlamak ne de olsa yolun yarısıdır. Daha sonra sadece sıkılmadan ve yılmadan çalışmak kalır. <br> "Yapabileceğinizi
            düşünüyorsanız, haklısınız. Yapamayacağınızı düşünüyorsanız, yine haklısınız. "<br>

            <audio autoplay  controls id="audio" >
                <source src="{{song}}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
              <p style="font-style: italic; opacity: 0.3;">Telif Hakkı © 2021 Çağan Kılınç</p>
              
        </p>
        
    </div>



    {% endblock %}
