<style>
  body{
    background-image: url("https://wallpapercave.com/wp/wp2831937.png");
    background-repeat: no-repeat;
    background-color: black;
  }
 
  .navbar-brand{
    padding-right: 30px;
    border-right: 1px white solid;
    font-size: 30px;
    color: #fff;
    text-shadow:
    
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px aqua,
    0 0 82px aqua,
    0 0 92px aqua,
    0 0 102px aqua,
    0 0 151px aqua;

  }  
  #controlpanel{
    background-color: red;
  }

  ul li a{
    padding-bottom: 4px;
    padding: 0px;
    margin-right: 10px;
    transition: 2s;
    text-align: center;
  }

  #buttons{
    -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 4px 4px 6px 0px aqua;
  -webkit-box-shadow:  4px 4px 6px 0px aqua;
  box-shadow: 2px 2px 4px 0px aqua;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:10px 10px 10px 10px ;
  }

  #buttons:hover{
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    
  }



  @media (max-width:1281px){
    ul li{
      margin-top: 5%;
    }
    #logo{
      display: none;
    }

  }

  #logo{
    font-size: 275%;
    color: rgb(211, 210, 210);
    margin-right: 40%;
    
  }

  #cagankilinc{
    font-family: "Audiowide", sans-serif;
  }
  
</style>

<nav style="border: 2px aqua solid;background-color: rgb(4, 4, 10);" class="navbar navbar-expand-md navbar-dark ">
    <a class="navbar-brand" href="/" id="cagankilinc">Çağan Kılınç</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about" id="buttons">Hakkımda</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/articles" id="buttons">Makaleler</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/comments" id="buttons">Paylaşımlar</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">


        {% if session["username"] == "Çağan Kılınç" %}
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard" id="controlpanel">Kontrol Paneli</a>
        </li>
          
        {% endif %}

        {% if session["logged_in"] %}

        <li class="nav-item active">
          <a class="nav-link" href="/commentboard" id="buttons">Paylaşım Yap</a>
        </li>  

          <li class="nav-item active">
            <a class="nav-link" href="/logout" id="buttons">Çıkış Yap</a>
          </li>

          <li class="nav-item active"><i class="fas fa-user-circle" id="logo"></i></li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login" id="buttons">Giriş Yap</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/register" id="buttons">Kayıt Olun</a>
          </li>
  

        {% endif %}


       

        

      </ul>
  
    </div>
  </nav>