{% extends "layout.html" %}
{% from "formhelpers.html" import render_field %}
{% block body %}

<style>
    form{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        margin-left: 29%;
        border: 2px white solid;
        padding: 1rem;
        border-radius: 20px;

    
    }

 
    h3{
        display: inline-block;
        margin-left: 29%;
        border-bottom: 2px white solid;
        
    }

    button{
        margin-top: 0%;
        background-color: aqua;
        box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        
        0 0 42px aqua,
        0 0 82px aqua,
        0 0 92px aqua,
        0 0 102px aqua,
        0 0 151px aqua;
        
    }

    #giris{
        margin-top: 3%;
        box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        
        0 0 10px aqua,
        0 0 10px aqua,
        0 0 10px aqua,
        0 0 10px aqua,
        0 0 60px aqua;

    }

    @media (max-width:1281px){

        
    form{
        display: flex;
        flex-direction: column;
        margin-left: 7%;
        width: 80%;
        border: 2px white solid;
        padding: 1rem;
        border-radius: 20px;
    }
    
    h3{
        margin-left: 7%;
    }
    
  }
</style>

<h3 style="color: white;">Kayıt Olun</h3>
<hr>
<form method="POST">
    {{ render_field(form.name, class = "form-control") }}
    {{ render_field(form.username, class = "form-control") }}
    {{ render_field(form.password, class = "form-control") }}
    {{ render_field(form.confirm, class = "form-control") }}
    <button type="submit" class="btn " id="giris">Kayıt Ol</button>

</form>
  
{% endblock body %}
